*{
    margin: 0;
    padding: 0;
}

html, body{
    overflow: hidden;
}
body{
    background: #5e1717;
    /* background: radial-gradient(#fceabb, #f8b500); */
    
}

.webgl-canvas {
   position: fixed;
   top: 0;
   left: 0;
   outline: none;
}